<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/socket.io/socket.io.js"></script>
  <title>Document</title>
  
  <link rel="stylesheet" href="/bs/index.css">
</head>
<body style="background-color: black;">
  <div class="pagecontroller">
    <button id="over">結束待機</button>
    <button id="first">首頁</button>
    <button id="six">六大行為</button>
    <button id="last">健康行為選擇</button>
    <button id="getimg">拿圖</button>
    <button id="shareimg">分享圖區</button>
    <button id="wordcloud">文字雲</button>
  </div>

<script src="/bs/index.js"></script>

</body>
</html>