<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Word Cloud</title>
  <link rel="stylesheet" href="/loveless/CSS/wordcloud.css">
  <script src="/socket.io/socket.io.js"></script>
  <script src="/loveless/bg.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
</head>
<body>
  <div class="container">
    <section class="cloud">
    </section>
    <div class="inputSection">
      <input type="text" id="word-input">
      <button onclick="addWord()">submit</button>
    </div>
  </div>

  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/jasondavies/d3-cloud/build/d3.layout.cloud.js"></script>
  <script src="/loveless/JScripts/wordcloud.js"></script>
</body>
</html>
